a {
  text-transform: capitalize;
  margin:10px;
  text-decoration: none;
  font-size: 25px;
  color: black;
}

h1,h2 {
    text-transform: capitalize;
    text-align: center;
    font-size: 35px;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}